{% extends 'base/base_user_center.html' %}

{% block right_content %}
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
                        <dt>当前地址：</dt>
                        {% if address %}
    						<dd>{{ address.addr }} （{{ address.receiver }} 收） {{ address.phone }}</dd>
                        {% else %}
                            <dd>无默认地址</dd>
                        {% endif %}
					</dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name == 'addr' %}
                                <div class="form_group form_group2">
							        <label>{{ field.label }}</label>
							        {{ field }}<span style="color: red; margin-left: 10px">{{ field.errors.0 }}</span>
						        </div>
                            {% else %}
                                <div class="form_group">
                                    <label>{{ field.label }}</label>
                                    {{ field }}<span style="color: red; margin-left: 10px">{{ field.errors.0 }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
{% endblock right_content %}